* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #298f36;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 150px;
}
  
.logo img {
    width: 100px;
}
  
.icons {
    text-align: center;
    font-size: 1.3em;
}
  
.header a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.header a:hover {
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: #216730;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 5px 5px 2000px green;
    align-items: center;
}
  
.navbar a {
    color: white;
    font-size: 1.3em;
    padding: 14px 40px;
    text-decoration: none;
}
  
.navbar a:hover {
    background-color: #88ad77;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.navbar a.current {
    background-color: #ddd;
    color: black;
}

.holo {
    background: url('images/holo.jpg') no-repeat center center;
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    height: 100vh;
}

.holo-text {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 100px;
    color: rgb(26, 255, 0);
    margin: 150px auto;
    border-radius: 15px;
}
  
.main-section h2 {
    font-size: 2.5em;
    margin-top: 0;
}
  
.main-section p {
    font-size: 2em;
}
  
.main-section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
  
.footer-content {
    padding-left: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
}
  
footer a {
    color: #0074d9;
    text-decoration: none;
    margin: 5px;
}
  
footer a:hover {
    text-decoration: underline;
}
  
  
